body {
	background-color: hsl(210, 46%, 95%);
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

main {
	width: min(100% - 2rem, 45.625rem);
	margin-inline: auto;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

.product_image {
	border-top-left-radius: 0.625rem;
	border-top-right-radius: 0.625rem;
}

.main_product_container {
	background-color: hsl(0, 0%, 100%);
	border-bottom-left-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
	padding-top: 2.5rem;
}

.main_product_name {
	color: hsl(217, 19%, 35%);
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.013rem;
	padding-bottom: 1.5rem;
	max-width: 16.438rem;
	margin-left: 1.875rem;
	margin-right: 1.875rem;
}

.main_product_description {
	padding-bottom: 1.5rem;
	max-width: 16.438rem;
	margin-left: 1.875rem;
	margin-right: 1.875rem;
}

.main_avatar_container {
	display: flex;
	align-items: center;
	margin-left: 1.875rem;
	margin-right: 1.875rem;
	padding-bottom: 1.875rem;
}

.main_avatar_image_container {
	padding-right: 0.625rem;
}

.main_profile_container {
	padding-right: 3.75rem;
}

.main_product_description,
.main_profile_date {
	color: hsl(214, 17%, 51%);
	font-size: 0.813rem;
	font-weight: 500;
	line-height: 1.54;
	letter-spacing: 0.008rem;
}

.main_profile_name {
	color: hsl(217, 19%, 35%);
	font-size: 0.813rem;
	font-weight: 900;
	line-height: 1.54;
	letter-spacing: 0.008rem;
}

.avatar_image {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
}

.main_button {
	height: 2rem;
	width: 2rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.button_icon {
	margin-left: auto;
	margin-right: auto;
}

.main_share_container_items {
	background-color: hsl(217, 19%, 35%);
	border-bottom-left-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
	height: 4rem;
	display: flex;
	align-items: center;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}

.share_message_container {
	padding-right: 2.5rem;
}

.main_share {
	color: hsl(212, 23%, 69%);
	font-size: 0.813rem;
	font-weight: 500;
	line-height: 1.54;
	letter-spacing: 0.008rem;
	text-transform: uppercase;
}

.icons_container {
	display: flex;
	padding-right: 1.875rem;
}

.icons {
	padding: 0.625rem;
}

.hiddenShareContainer {
	display: none;
}

@media (max-width: 30em) {
}
/* tablets */
@media (min-width: 30.063em) and (max-width: 64em) {
}

/* desktop */
@media (min-width: 64.063em) {
	main {
		display: grid;
		grid-template-columns: 17.813rem 27.813rem;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 0rem;
	}

	.product_image {
		height: 17.5rem;
		border-top-left-radius: 0.625rem;
		border-top-right-radius: 0rem;
		border-bottom-left-radius: 0.625rem;
	}

	.main_product_container {
		height: 17.5rem;
		border-top-right-radius: 0.625rem;
		border-bottom-left-radius: 0rem;
		padding-top: 0rem;
	}

	.main_product_name {
		font-size: 1.25rem;
		max-width: 22.813rem;
		padding-top: 1.5rem;
	}

	.main_product_description {
		max-width: 22.813rem;
	}

	.main_profile_container {
		padding-right: 10rem;
	}

	.main_share_container_items {
		border-radius: 0.625rem;
		width: 15.5rem;
		position: relative;
		left: 15.625rem;
		bottom: 9.375rem;
	}
}
